html{
	min-height:100%;
}
header{
	width:100%;
	height:70px;
	position:relative;
	z-index:1;
}
body{
    font-family: 'K2D', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    padding:0px;
    color:#191919;
    width:100%;
    
}
.heroimg{
	background:url("../image/mobile.png");
    	background-size:cover;
    	background-repeat:no-repeat;
	background-position:center;
	height:100;
	display:table;
        vertical-align:middle;

	transition:1s background, 1s height;

	/*animation:fade 20s linear .1s infinite alternate;*/
}
.splace{
	background:#fff;
	height:auto;
	transition:1s background, 1s height;



}
@keyframes fade{
	0%{background-position:20% }
	100%{background-position:50% 50%};
}
@-webkit-keyframes fade{
        0%{background-image:url("../image/mobile.png")}
        100%{background-image:url("../image/mobiles.jpg");}
}
body a{
    text-decoration: none;
    color:#191919;
}
nav li{
	float:left;
	list-style:none;
	padding:10px;
	color:#fff;

}
li .active{
	background:dodgerblue;
	color:#fff;
}
h1 span{
	color:dodgerblue;
}
header h1{
	position:absolute;
	top:-5px;
	left:20px;
	color:#fff;
	text-shadow:2px 2px 4px #000000;

}
nav{
	float:right;
	text-transform:uppercase;
	font-weight:600;
	margin-right:10px;
}
.coverhero,.nohero{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	transition:1s height, 1s background;
}
.nohero{
	height:70px;
	background:rgba(0,0,0,1);
	transition:1s height, 1s background ;
}
#herosection{
	position:relative;
	z-index:1;
}
.startbutton{
	padding:10px 0;
	min-width:150px;
	position:absolute;
	border-style:none;
	border:3px solid white;
	background-color:dodgerblue;
	color:white;
	right:calc(50% - 75px);
	font-weight:500;
	bottom:20px;
	transition:1s bottom;
	animation:breath 400ms linear infinite alternate;
	border-radius:10px;

}
@keyframes breath{
	0%{bottom:20px;transition:1s bottom}
	100%{bottom:30px;transition:1s bottom}
}
@-webkit-keyframes breath{
	0%{bottom:20px}
        100%{bottom:30px}
}
#herotext{
	width:100%;
	font-size:70px;
	font-weight:500;
	text-transform:uppercase;
	text-shadow:2px 2px 4px #000000;
	color:#fff;
	display:table-cell;
	vertical-align:middle;
	padding:20px;
}
#herotext span{
	color:dodgerblue;
}
.herodiv{
	height:33%;
	display:table;

}
#fhero{
	color:#fff;
	text-align:center;
        width:100%;
	margin-bottom:10px/
}
#shero{
	color:dodgerblue;
	text-align:center;
        width:100%;
	margin-bottom:10px;
}
#thero{
	color:#fff;
	text-align:center;
	width:100%;
}
footer{
	width:100%;
	background:#666;
	color:#dfe2db;
	min-height:300px;
}
.fright{
	float:right;
}
.deskimg{
	width:50%;
	height:500px;
}
.content{
	padding:15px;
	width:calc(50% - 30px);
	height:470px;
}
.slideout{
	position:absolute;
	top:100%;
	transition:1s top;

}
.slidein{
	position:relative;
	top:0;
	transition:1s top;
}
.fleft{
	float:left;
}
.fnone{
	float:none;
	clear:both;
}
.hide{
	height:0;
	display:none;
	transition:1s height,1s display;
}
.show{
	height:100%;;
	display:block;
	transition:1s height,1s display;
}
.thumbimg{
	width:100%;
	height:100%;
	object-fit:cover;

}
